<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}OST Sensitive{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('owl.carousel/owl-carousel/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('owl.carousel/owl-carousel/owl.theme.css') }}">
    </head>
    <body {% block class %} class="index" {% endblock %}>
    <header>
        <h1>
            <a href="{{ path('start') }}"><img src="{{ asset('img/logo.png') }}" alt="OST Sensitive"></a>
        </h1>
        <div class="menu">
            <ul>
                <li>
                    <a href=""><img class="film-information hidden" src="{{ asset('img/more.png') }}" alt=""></a>
                </li>
            </ul>
            <ul>
                <li><img class="full-screen" src="{{ asset('img/full_screen.png') }}" alt=""></li>
            </ul>
        </div>
    </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    <footer>
        <div class="sound-style">
            <ul class="playing-icon">
                <li class="bar"></li>
                <li class="bar"></li>
                <li class="bar"></li>
                <li class="bar"></li>
                <li class="bar"></li>
                <li class="bar"></li>
                <li class="bar"></li>
            </ul>
        </div>
    </footer>
        <script   src="{{ asset('js/jquery-3.0.0.min.js') }}"></script>
        <script   src="{{ asset('js/main.js') }}"></script>
        <script   src="{{ asset('owl.carousel/owl-carousel/owl.carousel.min.js') }}"></script>


    </body>
</html>
