<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}OST Sensitive{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

    </head>
    <body {% block class %} class="index" {% endblock %}>
    <header>
        <h1>
            <a href="{{ path('start') }}"><img src="{{ asset('img/logo.png') }}" alt="OST Sensitive"></a>
        </h1>
        <div class="menu">
            <ul>
                <li>
                    <a href=""><img class="film-information hidden" src="{{ asset('img/more.png') }}" alt=""></a>
                </li>
            </ul>
            <ul>
                <li><img class="full-screen" src="{{ asset('img/full_screen.png') }}" alt=""></li>
            </ul>
        </div>
    </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    <footer>
        <div class="sound-style">
            <ul class="playing-icon">
                <li class="bar"></li>
                <li class="bar"></li>
                <li class="bar"></li>
                <li class="bar"></li>
                <li class="bar"></li>
                <li class="bar"></li>
                <li class="bar"></li>
            </ul>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    </body>
</html>
