{% extends 'base.html.twig' %}
{% block class %}class="play"{% endblock %}
{% block body %}
    <video id="myVid" autoplay>
        <source id="webm" src="{{ asset('videos/products_videowebm/' ~ video.UrlVideowebm) }}" type="video/webm">
        <source src="{{ asset('videos/products_video/' ~ video.UrlVideo) }}" type="video/mp4">
    </video>

    <div class="screen">
        <a href="{{ path('startExtrait', {'id': video.id -1}) }}">  <div class="previous-scene"></div></a>
        <a href="{{ path('startExtrait', {'id': video.id +1}) }}">  <div class="next-scene"></div></a>
        <div class="sounds">
            <ul>
                {% for key, sound in video.sounds %}
                    <li class="sound {% if loop.first %}active{% endif %}" data-src="{{asset('videos/products_sounds/' ~ sound.urlSound ) }}"
                        data-id="{{ key + 1 }}">{{ sound.compositeur }}
                        - {{ sound.name }}</li>
                {% endfor %}

            </ul>
        </div>
        <div class="playing">
            <div class="player"></div>
        </div>
    </div>

    <div class="film-information">
        <h1></h1>
        <h2></h2>
        <h2></h2>
        <p></p>
    </div>
{% endblock %}

